<web-app>
<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/Login</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Reg</servlet-name>
<servlet-class>Reg</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Reg</servlet-name>
<url-pattern>/Reg</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Notes</servlet-name>
<servlet-class>Notes</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Notes</servlet-name>
<url-pattern>/Notes</url-pattern>
</servlet-mapping>
</web-app>